include partials/_head
include partials/_nav

h1 Book: #{book.title}
form(action="?_method=PUT" method="post")
  if error
    include partials/_error
  p
    label(for='title') Title
    input#title(type='text' value=book.title name='title')
  p
    label(for='author') Author
    input#author(type='text' value=book.author name='author')
  p
    label(for='genre') Genre
    input#genre(type='text' value=book.genre name='genre')
  p
    label(for='first_published') First Published
    input#first_published(type='text' value=book.first_published name='first_published')
  p
    input(type='submit', value='Update')
h2 Loan History
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    each loan in book.Loans
      tr
        td
          a(href=book.id) #{book.title}
        td
          a(href='/patrons/' + loan.Patron.id) #{loan.Patron.first_name} #{loan.Patron.last_name}
        td #{loan.loaned_on}
        td #{loan.return_by}
        td #{loan.returned_on}
        td
          a.button(href='/books/' + book.id + '/return') Return Book
