include partials/_head
include partials/_nav

h1 Book: A Brief History of Time
form
  p
    label(for='title') Title
    input#title(type='text', value=book.title)
  p
    label(for='author') Author
    input#author(type='text', value=book.author)
  p
    label(for='genre') Genre
    input#genre(type='text', value=book.genre)
  p
    label(for='first_published') First Published
    input#first_published(type='text', value=book.first_published)
  p
    input(type='submit', value='Update')
h2 Loan History
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    tr
      td
        a(href=book.id) #{book.title}
      td
        a(href="FIX THIS") placeholder
      td placeholder
      td placeholder
      td
      td
        a.button(href='return_book.html') Return Book
