include partials/_head
include partials/_nav

h1 Checked Out Books
p
  a.button(href='new_loan.html') Create New Loan
p
  | Filters
  a(href='/loans')  All
  |  |
  a(href='/loans/overdue')  Overdue
  |  |
  a(href='/loans/checked_out')  Checked Out
table
  thead
    tr
      th Book
      th Patron
      th Loaned on
      th Return by
      th Returned on
      th Action
  tbody
    each loan in loans
      tr
        td
          a(href="FIX THIS") #{loan.Book.title}
        td
          a(href="FIX THIS") #{loan.Patron.first_name} #{loan.Patron.last_name}
        td #{loan.loaned_on}
        td #{loan.return_by}
        td #{loan.returned_on}
        td
          a.button(href='return_book.html') Return Book
