include partials/_head
include partials/_nav

h1 New Loan
form(method="post")
  if error
    include partials/_error
  p
    label(for='book_id') Book
    select#book_id(name='book_id')
      each book in books
        option(value=book.id) #{book.title}
  p
    label(for='patron_id') Patron
    select#patron_id(name='patron_id')
      each patron in patrons
        option(value=patron.id) #{patron.first_name} #{patron.last_name}
  p
    label(for='loaned_on') Loaned on:
    input#loaned_on(type='text' name='loaned_on' value=loaned_on)
  p
    label(for='return_by') Return by:
    input#return_by(type='text' name='return_by' value=return_by)
  p
    input(type='submit', value='Create New Loan')
